
div.add_flight_section {
  height: 100%;
  a.back {
    margin-top: 10px;
  }
  div#kml_calc {
    display: block;
    .button();

    a.calc {
      display: block;
      text-align: center;
      width: 100%;
      cursor: pointer;
    }
  }
}
