#comp_wrapper {
  width: 730px;
  overflow: hidden;
  #comp_list, #comp_view {
    width: 700px;
    float: left;
    table {
      width: 100%;
      border-collapse: collapse;
      border: none;
      tr {
        border: none;
        border-bottom: $default_border;
        td {
          text-align: center;
          padding: 3px;
        }
      }
    }
  }
  #comp_list {
    margin-right: 45px;
  }
  #WriteHereComp {
    margin-bottom: 20px;
  }
}