#main_wrapper {
  overflow-x: hidden;
  height: 100%;
  position: absolute;
  padding: 10px;
  width: 705px;
  .jspPane {
    width: 705px !important;
    margin-left: 0 !important;
  }
  #main {
    overflow: visible;
    position: relative;
    > div {
      position: relative;
      top: 0;
      left: 0;
      width: 700px;
      height: 100%;
      background-color: white;
    }
  }
}

#left_col {
  position: relative;
  width: 725px;
  height: 100%;
}

#content {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px
}

#upload_target {
}