#main {
  padding: 10px;
  position: relative;
  overflow-x: hidden;
  height: 100%;
  perspective: 1000;
  transition: 0.6s;
  transform-style: preserve-3d;
  @animation: rotateY(90deg);
  &.flipped {
    -webkit-transform: @animation;
    -moz-transform: @animation;;
    -o-transform: @animation;
    -ms-transform: @animation;
    transform: @animation;
  }

  > div {
    position: absolute;
    top: 0;
    left: 0;
    height: 95%;
    width: 684px;
    margin: 10px;
    background-color: white;
  }

}

#left_col {
  position: relative;
  width: 725px;
  height: 100%;
}

#content {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px
}

#upload_target {
}