#planner {
  #path_wrapper {
    h4 {
      .heading();
    }
    div#path {
      .border-radius(0, 10px, 10px, 0);
      border: 1px solid #cccccc;
      padding: 10px;
    }
  }

  form {
    .cf();
    .border-radius(5px,5px,5px,5px);
    border: 2px dashed #cccccc;
    ul {
      li { margin-bottom: 0}
    }
    fieldset, .submit {
      float: left;
    }
    .submit {
      margin-top: 8px;
    }
  }

  #waypoints {
    margin: 10px;
    padding: 10px;
    border: 2px dashed #cccccc;
    border-radius: 10px;
  }
}