<h1 class="page-header">Results</h1>
<a id="options" class="glyphicon glyphicon-filter"></a>
<div class="forms_wrapper callout callout-primary">
    {{ form1 }}
    {{ form2 }}
</div>
<div id="generated_tables">{{ table }}
    <a class="show_all button" href="{{ url }}" target="_blank">Show all on map</a>
</div>

<script>
    var load_callback = load_callback || [];
    load_callback.push(function () {
        $body.on("click", ".form_toggle", function () {
            $(".basic_tables_wrapper").hide();
            $(".advanced_tables_wrapper").hide();
            $("." + $(this).data("show")).show().find("form").show();
        });
        $body.off("click", "#options");
        $body.on("click", "#options", function () {
            $(".forms_wrapper").stop(true, true).toggle();
        });
        $(".forms_wrapper").slideUp();
        $(".advanced_tables form").hide();
    });
</script>