#main_wrapper {
  overflow-x: hidden;
  height: 100%;
  position: absolute;
  width: 820px;
  .jspPane {
    width: 820px !important;
    margin-left: 0 !important;
  }
  #main {
    padding: 10px;
    overflow: visible;
    position: relative;
    > div {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
    }
  }
}

#left_col {
  position: relative;
  width: 820px;
  height: 100%;
  float: left;
}

#content {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px
}

#upload_target {
}

#module_planner_model_declaration_form_wrapper {
  padding: 20px;
  border: 1px solid #ccc;
  .btn {
    margin-top: 10px;
  }
}