#comp_wrapper {
  overflow: hidden;
  #comp_list, #comp_view {
    width: 100%;
    float: left;
  }
  #comp_list {
    margin-right: 45px;
  }
  #WriteHereComp {
    margin-bottom: 20px;
  }
}