.graph_toggles {
  position: absolute;
  left: 70px;
  top: 4px;
  z-index: 1000000;
  label {
    padding-right: 10px;
    display: inline-block;
    line-height: 13px;
    input {
      margin-right: 5px;
      vertical-align: bottom;
    }
  }
}