#main {
  #pages-12 {
    .content {
      padding: 0 10px;
    }
    #page_list {
      div {
        position: relative;
        display: inline-block;
        width: 25%;
        vertical-align: bottom;
        &:nth-child(3n+1) {
          a{
            background-color: $secondary;
          }
        }
        &:nth-child(3n+2) {
          a {
            background-color: $tertiary;
          }
        }
        &:hover {
          opacity: 0.8;
        }
        h2 {
          span:before {
            font-size: 24px;
            display: block;
            margin-bottom: 15px;
          }
        }
        p {
          margin-top: 0;
        }
        a {
          background-color: $primary;
          display: block;
          border:1px solid white;
          padding: 15px;
          height: 125px;
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  #main #pages-12 #page_list div {
    width: 33.33%;
  }
}

@media (max-width: 550px) {
  #main #pages-12 #page_list div {
    width: 50%;
  }
}