#generated_tables {
  &.loading {
    width: 100%;
    height: 300px;
  }
}

.key_switch {
  font-weight: bold;
  padding: relative;
  margin-top: -40px;
  float: right;
  width: 40px;
  height: 16px;
  margin-right: 20px;
  @include button;
  #key2 {
    width: 400px;
    background: #ffffff;
    display: none;
    margin-bottom: 10px;
    text-align: center;
    position: absolute;
    border: $default_border;
    left: 263px;
  }
  &:hover #key2 {
    display: block;
  }
}

.table_wrapper {
  width: 100%;
  table {
    width: 100%;
  }
  &.inner {
    margin-left: 0px;
    span {
      &.pos {
        float: left;
        margin-left: 20px
      }
      &.name {
        float: right;
        margin: -18px 20px 0 0
      }
    }
  }
  tbody {
    border-bottom: $default_border;
  }
  h3 {
    @include heading();
  }
}

table {
  border-collapse: collapse;

  &.results {
    border-collapse: collapse;
    font-size: 12px;
    tr {
      height: 30px;

      &:nth-child(2n) {
        background: $table_background
      }
      th {
        text-align: center;
        &.flights6 {
          width: 59px
        }
        &.flights5 {
          width: 65px
        }
      }
      td {
        //border: $default_border;
        //border-width: 0 1px 0px 1px;
        border-collapse: collapse;
        height: 30px;
        font-size: 11px;
        padding: 0 3px;
        .wrap {
          position: relative;
        }
        &.center {
          text-align: center !important;
        }
        a {
          display: block;
          width: 100%;
        }
      }
    }
  }
  &.main {
    margin-bottom: 10px;
    width: 100%;
    thead {
      tr {
        background-color: $secondary;
        color: #ffffff;
        &:hover {
          background-color: $secondary
        }
        th {
          border: 1px solid $secondary;
          &.pos {
            width: 51px
          }
          &.club {
            width: 95px
          }
          &.tot {
            width: 89px
          }
        }
      }
    }
    tr {
      text-align: center;

      &.class5 > td:first-child {
        color: #e80400;
        font-weight: bold
      }
      &:hover {
        background: #fbff7d;
      }
      td, th {
        &.left {
          text-align: left;
          padding-left: 5px
        }
        &.title {
          text-align: center;
          font-size: 14px;
          padding: 4px 0;
        }
      }
    }
  }
  &.top4 {
    td {
      text-align: center !important;
    }
  }
}

.od {
  color: black
}

.or {
  color: green
}

.tr {
  color: blue
}

.go {
  color: red
}

.ft {
  color: #ff00ee;
}