<div class="add_flight_section upload">
    <div class="callout callout-primary">
        {{ form_2 }}
    </div>
    <div class="callout callout-primary">
        {{ form_1 }}
    </div>
    <a class="back button" href="/add_flight">Back</a>
</div>