@mixin button() {
  display: block;
  padding: 5px;
  background-color: #ededed;
  border: 1px solid #cccccc;
  text-align: center;
  font-weight: bold;
  color: $primary;
}

@mixin heading() {
  background-color: $secondary;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  &.joined {
    margin-bottom: 0;
  }
}

img.right {
  float: right;
  margin-left: 20px;
}
img.left {
  float: left;
  margin-right: 20px;
}

@mixin cf() {
  overflow: auto;
}

@mixin form() {}