#comp_maker {
  h5 {
    font-size: 12px;
    line-height: 14px;
  }
  #comp_maker_target {
    &.loading {
    }
    div {
      border: $blue_border;
      padding: 10px;
      margin-top: 0;
      form {
        border: 0;
        li {
          margin-bottom: 5px;
          input, select {
            width: 300px;
          }
        }

      }
    }
  }
}