#comp_wrapper {
  width: 730px;
  overflow: hidden;
  #comp_list, #comp_view {
    width: 700px;
    float: left;
  }
  #comp_list {
    margin-right: 45px;
  }
  #WriteHereComp {
    margin-bottom: 20px;
  }
}