/* NEWS BOX */
div#news {
  width: 1420px;
  #list_wrapper, #article_wrapper {
    width: 700px;
    float: left;
  }
  #list_wrapper {
    margin-right: 40px;
  }
  article {
    overflow: hidden;

    div.title {
      position: relative;
      padding-bottom: 10px;
      border-bottom: 1px solid $primary;
      span.date {
        font-size: 13px;
        margin-left: 10px;
        position: absolute;
        left: 0;
        top: 0;
      }
      .name {
        display: block;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        color: $primary;
      }
      span.author {
        position: absolute;
        right: 0;
        font-size: 13px;
        top: 0;
        margin-right: 10px;
      }
    }
    div.content {
      p {
        margin-bottom: 10px;
      }
      padding-top: 10px;
    }
  }
}

#article_wrapper {
  .page-header {
    position: relative;
    span {
      position: absolute;
      bottom: 20px;
      right: 0;
    }
  }
  ul {
    list-style: disc;
    padding-left: 30px;
    li {
      list-style: disc;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
  }
}

div#news_box article a.edit {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #565656;
  color: #ffffff;
  line-height: 30px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

