// Normaliser
form {
  fieldset {
    border: none;
    ul {
      li {
        input, textarea, select {
          border: 0;
          background-color: #ffffff;
        }
        input, textarea {
          -webkit-appearance: none;
        }
      }
    }
  }
}

.form_frame {
  display: none;
}

$form_border_width: 1;
$form_border_colour: #333333;
$form_border_style: 'solid';
$form_default_height: 40;
$form_default_padding: 5;
$form_disabled_color: #cacaca;

@mixin form($width: 0, $height: $form_default_height, $padding: $form_default_padding) {
  legend {
    @extend %form_legend;
  }
  fieldset {
    ul {
      li {
        margin-bottom: 10px;
        label {
          display: block;
          text-align: left;
        }
        input, textarea, select {
          @include box-sizing(border-box);
          padding: 0 $padding + px;
          border: $form_border_width+px + #{' '} + $form_border_style + #{' '} + $form_border_colour;
          @if ($width > 0) {
            width: $width + px;
          }
          height: $height + px;
          &[disabled] {
            background-color: $form_disabled_color;
          }
        }
        textarea {
          height: $height * 2+ px;

        }
        &.field_boolean_wrapper, &.field_checkboxes_wrapper {
          input {
            width: $height + px;
            -webkit-appearance: checkbox;
            vertical-align: text-bottom;
          }
        }
        &.form_submit {
          input {
            position: absolute;
            top: -99999px;
            left: -9999px;
          }
          .submit {
            @include button();
            display: block;
          }
        }
      }
    }
  }
}

@mixin form_block() {
  fieldset {
    ul {
      li {
        label {
          span {
            display: block;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

%form_legend {
  legend {
    display: block;
    width: 100%;
    font-size: 24px;
    border-bottom: 4px solid #ffffff;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}