<div id="article_wrapper" class="editable_content">
    <article>
        <div class="page-header">
            <h1>{{ article.title }}</h1>
            <span class="author">By: {{ article.poster }}</span>
        </div>
        {{ article.post }}
    </article>

    <a class="news_back button" href="/news">Back to news</a>
</div>