a {
  cursor: pointer;
}

#filter_form {
  .form-group {
    margin-right: 10px;
  }
}

.panel-heading .pagination {
  margin-top: 0px;
  margin-bottom: 0px;
}

col {
  &.btn {
    &-col {
      width: 56px !important;
    }

    &-col2 {
      width: 96px !important;
    }
  }

  &.field {
    &_date {
      width: 90px !important;
    }
  }
}

.module_list {
  .edit, .position, .delete {
    vertical-align: middle;
  }

  td {
    max-width: 500px;
  }
}

/* Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
  color: #3b3b3b;
}

.bs-callout h4 {
  margin-top: 0;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}

.bs-callout-warning {
  background-color: #f1c49c;
  border-color: #fe8969;
}

.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.form-signin {
  max-width: 630px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading {
  margin-bottom: 10px;
}

.form-signin .form-group {
  margin-bottom: 0;
}

.form-signin label {
  display: none
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.loading_shroud {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  opacity: .4 !important;
  background: #3b3b3b url('/img/loading.gif') center no-repeat !important;
  text-indent: -99999px !important;
  z-index: 99999 !important;
}

tr.vertical-align > th, tr.vertical-align > td {
  vertical-align: middle !important;
}

.col-md-0 {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

.collapse-button {
  margin-top: 10px;
  display: block;
  background-color: $gray-lighter;
}
